
NormalEstimation-					KSearch - 40

Region Growing- 					MinClusterSize - 300
Region Growing- 					NumberOfNeighbours - 20
Region Growing- 					SmoothnessThreshold - 1/180 * M_PI
Region Growing- 					CurvatureThreshold - 1.0

GreedyProjectionTriangulation- 		SearchRadius - 2
GreedyProjectionTriangulation- 		Mu - 1
GreedyProjectionTriangulation- 		MaximumSurfaceAngle - M_PI/4
GreedyProjectionTriangulation- 		MinimumAngle - M_PI/18
GreedyProjectionTriangulation- 		MaximumAngle - (2*M_PI)/3
GreedyProjectionTriangulation- 		NormalConsistency - true

VoxelGrid- 							LeafSizeX - 0.1f
VoxelGrid- 							LeafSizeY - 0.1f
VoxelGrid- 							LeafSizeZ - 0.1f

ConcaveHull- 						KeepInformation - true
ConcaveHull- 						Alpha - 0.05

SACSegmentation- 					DistanceThreshold - 0.01
SACSegmentation- 					OptimizeCoefficients - true 
